html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#portfolio, #about {
  padding-top: 25vh;
}

#profession {
  margin-left: 10rem;
  text-transform: capitalize;
}

header, nav {
  background: linear-gradient(to right, #1abc9c, black, black);
}

.nav-link {
  font-size: 1.3rem;
}

#main-title {
  font-size: 2rem;
  width: 60%;
}

#about {
  background: linear-gradient(to left, #1abc9c, black, black);
}

.lead {
  color: #a5c6e7
}

#ocr {
  color: #096ed3;
  font-weight: bolder;
}

#ocr:hover {
  color: #1abc9c;
}

.cv, #close-cv {
  animation: fadein 1.5s;
}

#show-cv {
  color: #1abc9c !important;
}

#show-cv:hover {
  color: #0a81f8 !important;
  border-color: #0a81f8 !important;
}

.project-item {
  border: solid #1b83eb 1px;
}

.portfolio-item-caption:hover {
  background-color: #0c437a !important;
  opacity: 0.8 !important;
}

/* riddle-form */

.riddle-label {
  font-size: 1.8rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1264px) {
  .riddle-label {
    font-size: 1.2rem;
  }
  #my-face {
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2rem !important;
  }
  .nav-link {
    font-size: 1rem;
  }
  #profession {
    margin-left: 5rem;
    margin-top: -1rem !important;
  }
  .riddle-label {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center !important;
  }
  h1 {
    margin-left: 1rem;
  }
  #menu-button {
    margin-right: 1rem;
  }
  #portfolio, #about, #contact {
    padding-top: 20vh;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1rem !important;
  }
  #profession {
    font-size: 0.8rem;
    margin-top: -1vh !important
  }
  #my-face {
    margin-top: -12vh;
  }
  #welcome-text {
    margin-top: 4vh !important;
  }
}

@media screen and (min-width: 1800px) {
  #my-face {
    margin-left: 12rem !important;
  }
}